body{
    background-color: rgb(253,251,251);
    margin: 0%;
}
#cabecalho{
    top: 0px;
    position: fixed;
    border: 3px solid;
    width:100%;
    background-color: slateblue;
    text-align: center;
    z-index:1 ;
}
#rodape{
    border: 3px solid;
    background-color: slateblue;
    text-align: center;
    font-weight: bold;
    bottom: 0px;
    clear: both;

}
article{
    border: 3px solid;
}
aside,section{
    border: 3px solid;
}
.float{
    margin-top: 150px;
    width: 70%;
    float: left;
    margin-left: 15px;
}
aside{
    float: right;
    width: 25%;
    margin-top: 150px;
    margin-right: 15px;
    background-color:#FFFF6D;
    text-align: center;
}
.margem-aside ol li{
    padding: 10px 20px;
    font-weight: bold;
}
.imagem-denis{
    background-image: url(./275944677_663767221500016_1873905186283448054_n.jpg);
    background-size: cover;
    background-position: 5% 15%;
    padding: 50px 50px 80px 520px;
    display: inline-block;
}
.texto-imagem{
    width: 60%;
    text-align: center;
    font-weight: bold;
}
.contato{
    width: 10%;
    text-align: center;
    font-weight: bold;
    font-size:larger;
    line-height: 25px;
    width: 150px;
    position: absolute;
    top: 175px;
    left: 50px;
}
